@import "tailwindcss";

:root {
  --background: #2A1608;
  --foreground: #fdfbf7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-outfit);
  --font-heading: var(--font-syne);
  
  /* Custom Palette */
  --color-dark-forest: #233915;
  --color-olive-green: #3F5426;
  --color-warm-brown: #533722;
  --color-dark-espresso: #2A1608;
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans h-full min-h-screen antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}